
<div>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        {{#linkTo 'universities' class='brand'}}Universities{{/linkTo}}
        <ul class='nav'>
          <li>{{#linkTo 'add_uni'}}Add a university{{/linkTo}}</li>
          <li>{{#linkTo 'about'}}About{{/linkTo}}</a></li>
        <ul>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="main">
    <div class="row-fluid">
      <div>
        <div class="span12">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
