
<div class='row'>
<div class='span3'>
<table class='table'>
            <thead>
            <tr><th>Recent Posts</th></tr>
            </thead>
            {{#each controller}}
            <tr><td>
              {{title}} by {{description}}
            </td></tr>
            {{/each}}
          </table>
</div>
<div class='span9'>
	<h1>Universities</h1>
	{{outlet}}
</div>
</div>