
<div class='row'>
<div class='span3 offset5'>
  <h2>Universities</h2>
  {{view Ember.TextField valueBinding="searchQuery" placeholder="Search for university"}}
  <table class='table'>
    {{#each controller}}
        <tr><td>
            {{title}}
        </td><td>
            {{description}}
        </td></tr>
    {{/each}}
  </table>
</div>
</div>
